<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNG">
    <parameter name="BaseURL" value="http://qa.koel.app/"></parameter>
    <test name="Example Test" preserve-order="false">
        <classes>
            <class name="Koel.LoginTests"/>
            <class name="Koel.ProfileTests"/>
            <class name="Koel.Homework18"/>
            <class name="Koel.Homework16"/>
            <class name="Koel.Homework17"/>
            <class name="Koel.Homework19"/>
            <class name="Koel.Homework20"/>
            <class name="Koel.Homework21"/>
            <class name="Koel.Homework22"/>
        </classes>
    </test>
</suite>